name = "sample-mail"
main = "src/index.ts"
compatibility_date = "2024-06-06" 

[[d1_databases]]
binding = "DB" # i.e. available in your Worker on env.DB
database_name = "cf_email_1"
database_id = ""

[vars]
forward_address = ""
CLOUDFLARE_EMAIL = ""
CLOUDFLARE_API_KEY = ""
ZONE_ID = ""
ACCOUNT_ID = ""
EMAIL_DOMAIN = ""
GHPAGE = "https://<your-github-username>.github.io/sample-mail/"
UI_URL = "https://<your-github-username>.github.io/sample-mail/"
